<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.legobyte.onactivityresult">

    <application>
        <activity
            android:theme="@style/ProxyTheme"
            android:screenOrientation="unspecified"
            android:label="Proxy activity"
            android:configChanges="screenSize|screenLayout|fontScale|keyboardHidden|keyboard|orientation|colorMode|density|layoutDirection|locale|mcc|mnc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:name=".ProxyActivity" />
    </application>

</manifest>